.footer__inner{
    background-color: #fff;
    padding: 50px 0;
    margin-top: 80px;

    .footer__inenr--title{
        text-align: center;
        color: #000;
        text-align: center;
        font-family: $font-primary;
        font-size: 15px;
        font-weight: 700;
        line-height: 170%;

        @media (max-width: 768px) {
            font-size: 13px;
        }
    }

    .footer__info{
        .footer__info--list{
            text-align: center;
            color: #000;
            font-family: $font-primary;
            font-size: 15px;
            font-weight: 400;
            line-height: 170%;

            @media (max-width: 768px) {
                font-size: 10px;
                word-break: keep-all;
            }
        }

        @media (max-width: 768px) {
            padding: 0 40px;
        }
    }

    &.etc__footer{
        max-width: 1400px;
        margin: 80px auto 0;
        border-radius: 30px 30px 0px 0px;
        box-shadow: 0px 0px 40px 0px #DEE1EE;
    }
}