body {
    font-family: $font-primary;
    font-weight: $font-regular;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
    font-weight: $font-bold;
    margin-bottom: 1rem;
}

h1 {
    font-weight: $font-black;
    font-size: 2.5rem;
}

h2 {
    font-weight: $font-extrabold;
    font-size: 2rem;
}

h3 {
    font-weight: $font-bold;
    font-size: 1.75rem;
}

h4 {
    font-weight: $font-semibold;
    font-size: 1.5rem;
}

h5 {
    font-weight: $font-medium;
    font-size: 1.25rem;
}

h6 {
    font-weight: $font-regular;
    font-size: 1rem;
}

.thin-text {
    font-weight: $font-thin;
}

.extralight-text {
    font-weight: $font-extralight;
}

.light-text {
    font-weight: $font-light;
}

.regular-text {
    font-weight: $font-regular;
}

.medium-text {
    font-weight: $font-medium;
}

.semibold-text {
    font-weight: $font-semibold;
}

.bold-text {
    font-weight: $font-bold;
}

.extrabold-text {
    font-weight: $font-extrabold;
}

.black-text {
    font-weight: $font-black;
}