@mixin flex-center {
display: flex;
align-items: center;
justify-content: center;
}


@mixin flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
    
@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


    