$blue--color: #1B2D4F;
$light-gray: #565656;
$placeholder: #AAB2C8;
$black: #000000;
$none-select: #575757;
$deep-gray: #7D90AE;

// Primary red tone
$red: #841D18;
// mint color
$mint-color: #69b7b7;
// basic text color
$text-red:#841D18;
